#root {
	--main-color: #009b4d;
	--second-color: #faf5e9;
	--third-color: #ffcc00;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	color: black;
}
