#root {
	--main-color: #009b4d;
	--second-color: #faf5e9;
	--third-color: #ffcc00;
}

main {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	color: black;
}
