nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-color);
  padding: 15px 20px;
  border: solid 1px var(--third-color);
  border-radius: 10px;
  width: 100%;
}

nav img {
  width: 150px;
}

nav button {
  color: white;
  background-color: var(--third-color);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

nav button:hover {
  background-color: darkorange;
}
